<!DOCTYPE html>
<html lang="en-us">

<head>
	<title>Fly Smart</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				 aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" id="site_name" href="index.html"><img id="plane_img" src="../static/images/Jumbo-07-june.gif"
					 height="40px" width="40px"></span><b> Fly Smart </b></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/stats.html"><img src="../static/images/predict.png" height="20px" width="20px"> Predict Your Flight</a></li>
					<li><a href="/trends.html"><img src="../static/images/trend.png" height="20px" width="20px"> Flight Trends</a></li>
					<li><a href="/tweets.html"> <img src="../static/images/twitter_bird.png" height="20px" width="20px"> Flight Tweets</a></li>
					<li><a href="/feedback.html"><img src="../static/images/feedback.png" height="20px" width="20px"> Feedback</a></li>
					<li><a href="/team.html"><img src="../static/images/team.png" height="20px" width="20px"> OurTeam</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<br>
		<br>
		<br>
		<div class="col-md-3">
			<form>
				<div class="form-group" class="required">
					<label class="control-label">Email:</label>
					<input type="email" class="form-control" id="email" placeholder="Your email here" autofocus required />
				</div>
				<div class="form-group" class="required">
					<label class="control-label">Feedback:</label>
					<textarea class="form-control" id="feedback" placeholder="Enter feedback here..." rows="5" maxlength="500" required></textarea>
				</div>
				<button id="submit_btn1" type="submit" class="btn btn-default" onclick="">Submit</button>
				<br>
				<div id = "result_placeholder"></div>

			</form>
		</div>
		<div class="col-md-9">
			<div id="table-area" class="">
				<table id="feedback-table" class="table table-striped" class="table table-bordered" class="table table-hover">
					<thead id="tablehead">
						<col width="70">
						<col width="250">
						<col width="20">
						<tr>
							<th class="table-head" class="sorting">User Email</th>
							<th class="table-head">Feedback</th>
							<th class="table-head">Submitted On</th>
						</tr>
					</thead>
					<tbody class="table table-hover">
						<col width="70">
						<col width="250">
						<col width="20">
						{% for list in listings %}
						<tr>
							<td>{{list.email}}</td>
							<td>{{list.feedback}}</td>
							<td>{{list.inserted_time}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>



	<script src="{{ url_for('static', filename='js/config.js') }}"></script>
	<script src="//code.jquery.com/jquery.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/feedback.js') }}"></script>

</body>

</html>